<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdgroup.chemical.locale.mapper.CommonEmergencyDisposalCardMapper"><select id="selectPageList" resultType="com.tdgroup.chemical.locale.pojo.commonemergencydisposalcard.CommonEmergencyDisposalCardPagingInfo">select * from common_emergency_disposal_card where effective_sign = '0' order by id desc</select></mapper>